services:
  microservicio-comentarios:
    image: comentarios:latest
    container_name: microservicio-comentarios-app
    build:
      context: ./comentarios
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/microservices-ecosystem
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/microservices-ecosystem/protocol/openid-connect/certs
      - KEYCLOAK_AUTH_SERVER_URL=http://keycloak:8080

networks:
  kafka-network:
    driver: bridge
